$navbar-size: 80px;

@mixin pos-absolute-clear{
  position: absolute !important;
  top: 0 !important; 
  bottom: 0 !important; 
  left: 0 !important; 
  right: 0 !important;
  margin: auto !important;
}

.navbar-brand,
.navbar-nav li a { 
    line-height: $navbar-size;
    height: $navbar-size;
    vertical-align: middle;
    padding-top: 0 !important;
}

.navbar-brand{
  padding-top: 10px !important;
  @include pos-absolute-clear;
  left: 40px  !important;
}
 
.HeaderNavBar{
    background: #3b5998 !important;
    margin: 0 !important;
    border: 0 !important {
      radius: 0 !important;
    }
    
    li > a{
      padding: {
        left: 5px !important;
        right: 5px !important;
      }
      text-decoration: underline !important;
    }

}

.SearchEarth{
  margin-left: 10px !important;
  width: 60px !important;

  ul li, ul li > a{
    height: 25px !important;
    line-height: 25px !important;
  }

  > a > img {
    @include pos-absolute-clear;
  }

  &.open .dropdown-toggle {
    background:#6666FF !important;
    border: {
      radius: 0 !important;
      width: 0 !important;
    }
  }
}

/*.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .nav .open>a:active{
    background-color: #6666FF;
}*/

.HeaderNav{
    background:	#8b9dc3;
    display:flex;
    justify-content: center;

    a{
      color: white;
      text-transform: uppercase;
      font-weight: bold;
  }
}

.HeaderNavbarForm, .HeaderNavbarForm .navbar-form {
  background-color: #6666FF !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}


