$navbar-size: 80px;
$navbar-color: #3b5998;
$nav-color: #8b9dc3;
$search-color: #6666FF;

@mixin pos-absolute-clear($margin){
  margin: #{$margin} ;
  @content;
}

.navbar-header {
   line-height: $navbar-size;
   height: $navbar-size !important;
   width: 350px ;
   padding: 0;
   margin: 0;
  .navbar-brand {
    @extend .navbar-header;
    a {
      @extend .navbar-header;
      img {
         @extend .navbar-header;
      }
    }
  }
}
 
.HeaderNavBar{
  &.navbar{
    background: $navbar-color; 
    margin: 0;
    border: 0  {
      radius: 0 ;
    }
    > .container{
      width: 1200px;
      padding: 0;
    }
    .container .nav li {
      margin: 0  5px;
      &.dropdown{
        width: 80px;
        margin: auto 0;
      }

      > a{
        padding: 0;
        line-height: $navbar-size;
        height: $navbar-size;
        text-align: center;
        
        &:link, &:visited{ color: white; }
        &:hover, &:active{ color: black; } 
        text-decoration: underline ;
        font-family: monospace;
      }
      &.open>a, &:focus,  &.open>a:focus, &.open>a:hover, &.open>a:active{
        border: {
          radius: 0 ;
          width: 0 ;
        }
        background-image: none;
        background-color: $search-color;
      }

      ul[aria-labelledby=basic-navbar-search], ul[aria-labelledby=basic-navbar-earth] { 
        background-color: $search-color;
        padding: 0px;
        li, a, div.navbar-form, div.form-group {
          margin: 0;
          background-color: $search-color;
          color: white;
          text-decoration: none;
        }
        #header-navnar-form-search{
          > div{
            border-bottom:3px solid $navbar-color;
          }
        }
      }
      #basic-navbar-earth-dropdown-nav{ 
          > ul{
            padding:0px;
            margin:0px;
            background-color: $search-color;
            list-style:none;
            display: inline;
            > li{
              display: inline;
              > a{
                padding: 2px 10px;
                display: inline-block;
                /* visual do link */
                background-color:$search-color;
                color: white;
                text-decoration: none;
                border-bottom:3px solid $navbar-color;
                font-family: monospace;
                &:hover {
                    background-color:#D6D6D6;
                    color: black;
                    //border-bottom:3px solid #EA0000;
                }
              }
            }
          }
      }
    }
  }
}

.HeaderNav{
  &.nav{
    background: $nav-color;
    display:flex;
    justify-content: center;
    border: none;
    li > a{
      color: white;
      text-transform: uppercase;
      font-weight: bold;
    }
    li.open>a, li > a:focus, li.open>a:focus,  li.open>a:hover, li.open>a:active{
      background-image: none;
      background-color: $search-color;
      border: {
        radius: 0 ;
        width: 0 ;
      }
    }
  }
}


