
@import 'containers/Header';
@import 'containers/Footer';
@import 'pages/pages';



html {
    position: relative;
    min-height: 100%;
}


body {
    margin: 0 0 $footer-height; // bottom has to be the same as footer height 
}
